<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/pedido/" method="GET">
      <input type="submit" value='Faça um pedido'>
      <a type='button' href='/meusPedidos' > Acesse seus pedidos aqui</a>
    </form>
  </body>
</html>
