<ul>
    <% for (const produto of produtos){%>
        <li>
            <div>
                Produto: <%=produto.produto.name%>
            </div>
            <div>
                Quantidade: <%=produto.quantidade%>
            </div>
            <form method="GET" action='/cancelaItem/<%=produto.pedidoId%>/<%=produto.produtoId%>'>
                <button type="submit">Apagar produto</button> 
            </form>
            
        </li>
    <%}%>
</ul>

<a href="/meusPedidos">voltar</a>