<ul>
    <% for (const produto of produtos){%>
        <li>
            <div>
                Produto: <%=produto.produtoId%>
            </div>
            <div>
                Quantidade: <%=produto.quantidade%>
            </div>
            
            
        </li>
    <%}%>
</ul>

