<ul>
    <% for (const produto of produtos){%>
        <li>
            <div>
                Produto: <%=produto.produto.name%>
            </div>
            <div>
                Quantidade: <%=produto.quantidade%>
            </div>
            
            
        </li>
    <%}%>
</ul>

<a href="/meusPedidos">voltar</a>